

li:hover {
 background-color:gray;
 border-radius: 10px;

}

.navcolor{
    background-color: rgb(225, 125, 187);
}

.departcolor{
    background-color: rgb(173, 172, 172);
}

.bgimg{
    background-image: url(baby1.jpeg);
}

