{% extends 'base.html' %}

{% block title %}
about
{% endblock title %}

{% block content %}


<br>
<br>


<div class="ms-auto me-auto border-start-0  text-center fst-italic"
    style="background-color:#e69eca; width: 50%; height: 400px;">
    <br>
    <h3 class="text-center text-black ">Make an appoinment </h3>
    <hr>
   
        <br>



        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="button" class="btn btn-secondary">Submit</button>
            <hr>
        </form>
    

</div>



{% endblock content %}