{% extends 'base.html' %}

{% block title %} 
department
{% endblock title %}

{% block content %} 

<div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary text-center fst-italic">
    <br>
    <h1 class="text-center "> Departments Aster provides you</h1>
  <p class=" fw-light"> At Aster, we give most importance to provide care, attention, and <br>high-quality medical services in our Departments.  This promise to patients, <br>employees, and society at large is ingrained in the heart of each Asterian <br>and is what inspires us to serve, innovate, and grow.
  <hr>
  
  
  </div> 





{% for d in dept%}





<div class="mx-auto w-4 0  text-center text-black p-3  my-3" style="background-color:rgb(245, 220, 240);">
    <h1>{{d.dep_name}}</h1>
    <p>{{d.dep_description}}</p>

    <br>

</div>
{% endfor %}

{% endblock content %}